//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.gnav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 138px 99px 90px;
    background: #fff;
    pointer-events: none;
    opacity: 0;
    z-index: -1;
    transition: .4s;

    &__nav {
        font-family: $EBfont;
        margin-bottom: 70px;

    }

    &__list {
        text-align: center;
        margin-bottom: 15px;
    }

    &__link {
        position: relative;
        display: inline-block;
        padding: 10px;
        font-size: 18px;
        letter-spacing: 0.1em;
        color: #000;
        text-decoration: none;

        @include navLink;
    }

    &__btn {
        width: 250px;

    }
    &__reserve {
        display: block;
        font-size: 12px;
        text-decoration: none;
        text-align: center;
        color: #000;
        transition: .3s;
        padding: 15px 36px;
        @include boxBtn;

        &:hover {
            color: #fff;
        }

        span {
            display: block;
            font-size: 18px;
            font-family: $EBfont;
        }
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        pointer-events: none;
        transition: .5s;
    }
}

.fnav {
    font-size: 13px;
    &__nav {
        margin-bottom: 55px;
        display: flex;
        gap: 10px;
    }

    &__link {
        position: relative;
        display: inline-block;
        padding: 10px 15px 5px;
        text-decoration: none;
        color: #000;
        @include navLink;
    }

}