// settingフォルダの変数を読み込みます

@use "../setting" as *;

@keyframes op {
    0% {
        background: #9C9C9C;
    }   
    40% {
        background: #9C9C9C;
    }
    50% {
        background: $colorMain;
    }
    100% {
        background: $colorB;
    }
}

@keyframes scrollTop {
    0% {
        transform: translateX(10%);
      }
      100% {
        transform: translateX(-100%);
      }
}

@keyframes scrollBottom {
    0% {
        transform: translateX(10%);
      }
      100% {
        transform: translateX(-100%);
      }
}

@keyframes contactBtn {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        background: $colorMain;
        transform: scale(1);
    }
}

@keyframes contactHover {
    0% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(0deg);
        opacity: 1;
    }
}

@keyframes contactHoverRetrun {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    
    100% {
        transform: rotate(-90deg);
        opacity: 0;
    }
}

@keyframes contactTxt {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
        opacity: 0;
    }
}

@keyframes contactTxtReturn {
    0% {
        transform: rotate(90deg);
        opacity: 0;
    }

    100% {
        transform: rotate(0deg);
        opacity: 1;
    }
}

@keyframes contactSp {
    0% {
        transform: scale(130%)  rotate(0deg);
    }
    100% {
        transform: scale(130%)  rotate(360deg);
    }
}

@keyframes contactPc {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes aboutBtn {
    0% {
        transform: scale(.9);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes linkHover {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes workPreview {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

