//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.menu-active {
    opacity: 1;
    z-index: 5;
    pointer-events: all;
}

.btn-top {
    width: 35px;
    left: 60%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.btn-middle {
    opacity: 0;
}

.btn-bottom {
    width: 35px;
    left: 60%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.fixed-js {
    overflow: hidden;
}

.bg-js {
    background: rgba(146, 146, 146, 0.6);
    z-index: 2;
    pointer-events: all;
}

#top {
    .slide-activeRight {
        animation: SlideRight 1.5s cubic-bezier(.4, 0, .2, 1) forwards;
    }
    .slide-activeLeft {
        animation: SlideLeft 1.5s cubic-bezier(.4, 0, .2, 1) forwards;
    }

    
}