//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.header {
    padding: 30px 75px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    z-index: 1;

    &__ttl {
        width: 120px;
        height: 50px;
        pointer-events: all;
    }

    &__link {
        display: block;
        width: 100%;
        height: 100%;
        background: #000;
    }
}