//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.gnav {
    pointer-events: all;
    &__nav {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__link {
        display: block;
        padding: 10px;
        color: #000;
        text-decoration: none;
    }

    &__logo {
        width: 100%;
        height: 100%;
    }
}