//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;


#top {
    .fv {
        &__wrap {
            position: relative;
            font-family: $minfont;
        }
    }

    .mv {
        &__copy {
            padding: 285px 80px 0;
            display: flex;
            flex-direction: column;
            gap: 30px;
            font-size: 50px;
            margin-bottom: 60px;

            &::after {
                content: 'Aiming for a new stage';
                display: block;
                font-size: 20px;
                color: #ccc;
            }
        }

        &__bg {
            width: 100vw;
            height: 100vh;
            background: url(../images/mv.jpg);
        }
    }

    .about {
        margin-bottom: 235px;
        position: relative;
        right: 10%;
        z-index: 1;
        margin-top: -20%;

        &__container {
            display: flex;
            flex-direction: row-reverse;
            gap: 6%;
        }

        &__box {
            &:nth-child(1) {
                width: 750px;
                padding: 160px 90px 142px;
                background: $colorB;
                margin-bottom: 9%;

                .about__txt {
                    color: #fff;
                }
            }

            &:nth-child(2) {
                width: 620px;
                align-self: flex-end;

                .about__txt {
                    position: relative;
                    padding: 20px 0 20px 3rem;

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 3px;
                        height: 100%;
                        background: #000;

                    }
                }
            }
        }

        &__ttl {
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            font-size: 35px;
            letter-spacing: 0.1em;
            color: #fff;

            &::before {
                content: 'About Us';
                font-size: 14px;
                margin-bottom: 35px;
                color: $colorY;
                font-family: $befont;
                font-weight: normal;
            }
        }

        &__sub {
            position: relative;
            padding: 20px 0 20px 3rem;
            font-size: 30px;
            font-family: $befont;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 3px;
                height: 100%;
                background: $colorY;

            }

            span {
                padding-left: 30px;
                font-size: 19px;
                font-family: $minfont;
            }
        }

        &__txt {
            line-height: 2;
            font-size: 18px;

        }
    }

    .history {
        width: 85vw;
        margin: 0 auto;
        padding: 80px;
        position: relative;
        background: $colorB;

        &::before {
            content: 'Company';
            position: absolute;
            top: -12.5rem;
            right: -5.2rem;
            display: block;
            font-size: 190px;
            color: $colorB;
            letter-spacing: 0.1em;
        }

        &__ttl {
            margin-bottom: 85px;
            display: flex;
            flex-direction: column;
            font-size: 35px;
            letter-spacing: 0.1em;
            text-align: center;
            color: #fff;

            &::before {
                content: 'Company History';
                font-size: 14px;
                padding-top: 50px;
                margin-bottom: 25px;
                color: $colorY;
                font-family: $befont;
                font-weight: normal;
            }
        }

        &__wrap {
            display: flex;
        }

        &__container {
            width: calc(100% / 2);
            font-size: 17px;
            background: #fff;

            &:nth-child(1),
            &:nth-child(2) {
                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 400px;
                }
            }

            &:nth-child(1) {
                &::before {
                    background: url(../images/study.jpg) center center / cover;
                }
            }

            &:nth-child(2) {
                &::before {
                    background: url(../images/cording.jpg) center center / cover;
                }
            }
        }

        &__txt {
            padding: 111px 65px 0 45px;
            line-height: 2;
        }

        &__dl {
            padding: 111px 55px 120px 40px;
        }

        &__box {
            display: flex;
            flex-wrap: wrap;
            height: 75px;
            // padding-top: 25px;

            &::after {
                content: '';
                display: block;
                width: 100%;
                // padding-bottom: 25px;
                border-bottom: 1px solid #eee;
            }
        }

        &__dt {
            width: 20%;
            padding-top: 25px;
            text-align: center;

            &::after {
                content: '';
                display: block;
                padding-bottom: 25px;
                border-bottom: 1px solid #000;
            }
        }

        &__inner {
            width: 80%;
            padding-left: 15px;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }
}